@charset "UTF-8";
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
.header-logo {
  width: 4em;
  background-color: inherit;
  margin-left: 3%;
  line-height: 1;
}

.container-fluid {
  position: relative;
  z-index: 1;
}

.nav-item {
  color: #198754;
  font-size: 1.5em;
}

.nav-link {
  margin: 0;
  padding: 0;
  color: #198754;
  font-weight: 500;
  letter-spacing: 2%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.nav-link:hover {
  color: white;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show,
.navbar-nav .nav-link,
.navbar-nav {
  --bs-nav-link-hover-color: #198754;
  color: #198754;
}
.navbar-nav .nav-link.active:hover,
.navbar-nav .nav-link.show:hover,
.navbar-nav .nav-link:hover,
.navbar-nav:hover {
  color: white;
}

.dropdown-item {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.dropdown-item:hover {
  color: white;
  background-color: #ffc107;
}

.btn-header {
  padding: 1% 4%;
  letter-spacing: 3%;
  font-weight: 400;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.loging_active {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 0 5%;
}

.loging_header {
  position: relative;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #ffc107;
  color: white;
  padding-top: 1%;
  margin-bottom: -2%;
  width: 100%;
}

.loging {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20%;
  font-weight: 500;
}

.log_button {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-wrap: nowrap;
  padding: 2% 3%;
  border-radius: 5px;
  border: 2px solid #198754;
  color: #198754;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.log_button:hover {
  -webkit-transform: scale(105%);
          transform: scale(105%);
  color: white;
}

.header_title {
  font-size: x-large;
  font-weight: 700;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2%;
  text-wrap: nowrap;
  color: #198754;
}

.log_button_logout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.2% 0.4%;
  position: absolute;
  right: 0;
  margin-right: 2%;
}

.Header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 5vh;
}

.card-group {
  margin: 1.5% 3%;
  gap: 1%;
  margin-bottom: 10vh;
}
.card-group:first-child {
  margin-top: 5%;
}
.card-group:last-child {
  margin-bottom: 5vh;
}

.card-item {
  min-width: 30%;
  max-width: 30%;
  min-height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #198754;
  border-radius: 5%;
  background-color: white;
  margin-right: 4%;
}
.card-item:last-child {
  margin-right: 0;
}

.card-img-top {
  width: 90%;
}

.card-body {
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 5%;
}

.card-title {
  margin-bottom: 10%;
}

.cardFooter {
  margin-bottom: 5%;
  max-height: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.price {
  margin: 5% 0;
  max-height: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5%;
  font-weight: 400;
  font-size: 1.1em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.priceContent,
.priceCurr {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.number {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: large;
  padding: 1% 2%;
}

.number_number,
.number_button {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.number_number {
  margin: 0 10%;
}

.number_button {
  padding: 0;
  padding-bottom: 5%;
  margin: 0;
  color: white;
  background-color: #ffc107;
  border-radius: 100%;
  width: 1.3em;
  height: 1em;
  font-size: xx-large;
  font-weight: 500;
}
.number_button:hover {
  background-color: #198754;
  cursor: pointer;
}

.btn {
  max-height: 60%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2%;
  font-size: 1.1em;
}

.card-btn {
  background-color: #ffc107;
  border: none;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5% 3%;
}
.card-btn:hover {
  background-color: #198754;
}

.typeProduct {
  color: #000;
  text-decoration: none;
  max-width: 30%;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 1.1em;
  letter-spacing: 1%;
  padding: 1% 5% 2% 5%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.typeProduct:hover {
  color: white;
  background-color: #ffc107;
  cursor: pointer;
}

@media screen and (max-width: 670px) {
  .nav-item {
    margin: 2% 0;
  }
  .dropdown-item {
    margin: 1% 0;
  }
  .card-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0;
  }
  .card-group:last-child {
    margin-bottom: 0;
  }
  .card-item {
    max-width: 90%;
    min-width: 90%;
    margin-bottom: 5%;
    margin-right: 0;
  }
}
.footer-wrap {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.Footer {
  width: 100%;
  height: 10vh;
  background-color: #ffc107;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.registration-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hearer_registration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2%;
  margin-bottom: 1%;
  color: #198754;
}

.registration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px; /* Пространство между полями */
  margin-bottom: 2%;
  width: 60%;
}
.registration p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 4%;
  width: 100%;
}
.registration p label {
  margin-bottom: 5px; /* Отступ между меткой и полем ввода */
  text-align: right;
  width: 28%;
}
.registration p input {
  width: 33%;
  padding: 8px; /* Внутренний отступ */
  border-radius: 4px; /* Радиус границ поля ввода */
  border: 1px solid #ccc; /* Граница поля ввода */
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* Учитывать границу в расчетах размера элемента */
}
.registration button {
  width: 100%;
  font-size: 2em;
  background-color: #198754;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.registration button:hover {
  -webkit-transform: scale(103%);
          transform: scale(103%);
}

.error-regist-message {
  color: red;
}

.registration-wrap .messages {
  list-style: none;
  padding: 0;
  margin: 0;
}
.registration-wrap .messages li.error-regist-message {
  color: red;
}

.registration p input[aria-invalid=true] {
  border: 2px solid red;
}
.registration ul.errorlist li {
  list-style: none;
  padding: 0;
  margin: 0;
  color: red;
  font-size: large;
  font-weight: 500;
}

.hearer_loging {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logining {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px; /* Пространство между полями */
  margin-top: 10%;
}
.logining p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 5%;
}
.logining p label {
  margin-bottom: 5px; /* Отступ между меткой и полем ввода */
  width: 50%;
}
.logining p input {
  padding: 8px; /* Внутренний отступ */
  border-radius: 4px; /* Радиус границ поля ввода */
  border: 1px solid #ccc; /* Граница поля ввода */
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* Учитывать границу в расчетах размера элемента */
}
.logining button {
  font-size: 2em;
  background-color: #198754;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.logining button:hover {
  -webkit-transform: scale(103%);
          transform: scale(103%);
}

.loging_wrap {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 98;
  display: none;
}

.registerModal {
  padding: 2%;
  border-radius: 5px;
  border: 2px solid #198754;
  color: #198754;
  position: fixed;
  top: 10vh;
  z-index: 99;
  background-color: #fff;
  opacity: 1;
  display: none;
}

.close_button {
  width: 10%;
  height: 5%;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: large;
  color: #fff;
  background-color: red;
  border-radius: 5px;
}

@media screen and (max-width: 670px) {
  .registration {
    width: 90%;
  }
  .registration label {
    width: 38%;
  }
  .registration imput {
    width: 45%;
  }
}
.management_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 0 3%;
  height: 100%;
  margin: 0 5%;
}

.management_button_a {
  padding: 7% 9%;
  border-radius: 5px;
  border: 2px solid #198754;
  color: #198754;
  font-size: larger;
  font-weight: 500;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.management_button_a:hover {
  -webkit-transform: scale(101%);
          transform: scale(101%);
  color: white;
  border: 2px solid white;
}

.manage_title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #198754;
  background-color: #ffc107;
}

.manage_home_page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20%;
  font-size: xx-large;
  font-weight: 600;
  font-family: fantasy sans-serif;
  cursor: pointer;
}

.navbar_wrap {
  height: 100vh;
  width: 100px;
  background-color: #ffc107;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.manager_closing_menu {
  max-width: 10%;
  background-color: #ffc107;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  left: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  margin: 0;
  padding: 0 1%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.manager_closing_menu svg {
  fill: #198754;
}
.manager_closing_menu:hover svg {
  fill: white;
}

.manage_nav {
  max-width: 70%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1%;
  display: none;
}
.manage_nav li {
  list-style: none;
}
.manage_nav li a {
  color: #198754;
}
.manage_nav li:hover {
  color: white;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 100vh;
  position: relative;
}