@media screen and (max-width: 670px) {
    .nav-item {
        margin: 2% 0;
    }

    .dropdown-item {
        margin: 1% 0;
    }


    .card-group {
        flex-direction: column;
        gap: 0;
        align-items: center;
        margin-bottom: 0;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .card-item {
        max-width: 90%;
        min-width: 90%;
        margin-bottom: 5%;
        margin-right: 0;
    }
}